<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.batchDev.service.mapper.BatchMapper">

    <sql id="pagingHeader">
        select * from (
                          select t.*, rownum rn
                          from (
    </sql>
    <sql id="pagingTrailer">
        ) t
            where rownum <![CDATA[ <= ]]> (#{_page}+1)*#{_pagesize}
        ) where rn <![CDATA[ > ]]> (#{_page}*#{_pagesize})
    </sql>

    <!--재산자료 목록조회-->
    <select id="findNllpList" parameterType="nllpVO" resultType="nllpVO">
        <include refid="com.batch.batchDev.service.mapper.BatchMapper.pagingHeader"></include>
        select a.nllp_acb_key
             , a.nllp_acb_no
             , a.nllp_nm
             , nvl(a.land_ar, 0) as land_ar
             , nvl(a.oalp, 0) as oalp
             , a.oalp_yr
             , a.zip
             , a.stdg_cd
             , a.mno
             , a.sno
             , a.ldcg_cd
             , a.rm_cn
          from tb_nllp_acb a
         where a.land_ar <![CDATA[ > ]]> #{landAr}
           and a.nllp_acb_key <![CDATA[ < ]]> '20230000046'
        <include refid="com.batch.batchDev.service.mapper.BatchMapper.pagingTrailer"></include>
    </select>

    <insert id="instNllpInfo" parameterType="nllpVO">
        <selectKey resultType="string" keyProperty="newNllpAcbKey" order="BEFORE">
            select fn_crt_acb_key('nllpAcb')
            from dual
        </selectKey>
        insert
        into tb_nllp_acb(
          nllp_acb_key
        , nllp_acb_no
        , nllp_nm
        , land_ar
        , oalp
        , oalp_yr
        , zip
        , stdg_cd
        , mno
        , sno
        , ldcg_cd
        , rm_cn
        , init_user_id
        , init_date
        , updt_user_id
        , updt_date
        )
        values (
        #{newNllpAcbKey}
        , (select lpad(nvl(max(t1.nllp_acb_no), 0)+1, 6, '0')
            from tb_nllp_acb t1)
        , #{nllpNm}
        , nvl(#{landAr}, 0)
        , nvl(#{oalp}, 0)
        , #{oalpYr}
        , #{zip}
        , #{stdgCd}
        , #{mno}
        , #{sno}
        , #{ldcgCd}
        , #{rmCn}
        , 'batch'
        , sysdate
        , 'batch'
        , sysdate
        )
    </insert>

    <update id="updtNllpInfo" parameterType="nllpVO">
        update tb_nllp_acb
           set land_ar = land_ar + 1
             , init_user_id = 'batchSource'
             , init_date = sysdate
             , updt_user_id = 'batchSource'
             , updt_date = sysdate
         where nllp_acb_key = #{nllpAcbKey}
    </update>

</mapper>